<!-- <button cButton>Full screen</button>
<ng-template #fullScreen>
  <button [cModalToggle]="fullScreen.id" cButton>Full screen</button>
  <c-modal #fullScreen [fullscreen]="true" id="fullScreen">
    <c-modal-header>
      <h5 cModalTitle>Full screen</h5>
      <button [cModalToggle]="fullScreen.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>...</c-modal-body>
    <c-modal-footer>
      <button cButton [cModalToggle]="fullScreen.id">Close</button>
    </c-modal-footer>
  </c-modal>
</ng-template>
<pre>
    qu es esto
</pre> -->
